// ==========================================================================
// TABLE OF CONTENTS:
// ==========================================================================
//
// # Header
// 		# Title + description
// 		# Navbar
// # Wrapper
// # Content
// # Sidebar and Widgets
// # Components
// 		# Fancy skip link
// 		# Pagination
// 		# Comments
// # Footer
//

// ==========================================================================
// Main
// ==========================================================================
html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    text-transform: uppercase;
}

// ==========================================================================
// Clearfix
// ==========================================================================
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


// ==========================================================================
// Header
// ==========================================================================
#header {
    //
    // Title, description and image
    //
    .page-header {
        margin: 20px 0 20px;
        .site-title {}
        .site-description {
            font-size: 16px;
            font-style: italic;
        }
    }
}

// ==========================================================================
// Navbar
// ==========================================================================
#main-navigation {
    z-index: 1;
    margin: 0;
    border-radius: 0px;
    border-bottom: 0px;
    border-top: 4px solid $brand-primary;
    -moz-box-shadow: 0 0 15px #888;
    -webkit-box-shadow: 0 0 15px #888;
    box-shadow: 0 0 15px #888;
}

.navbar-brand {
    height: 100px;
    img.logo{
        max-height: 200px;
        height: 70px;
        padding: 5px;
    }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background: none;
}

.navbar-default .navbar-nav>.active>a {
    border-bottom: 4px solid $brand-primary;
}

.navbar-default .navbar-nav {
    >li{
        .active{
            border-bottom: 4px solid $brand-primary;
        }
        text-transform: uppercase;
        font-size: 14px;
        >a{
            @media (min-width: 768px) {
                padding-top: 39px;
                padding-bottom: 39px;
                border-bottom: 4px solid $gray-lighter;

                &:hover{
                    border-bottom: 4px solid $brand-primary;
                }
                &:active{
                    border-bottom: 4px solid $brand-primary;
                }
            }
        }
    }
    .dropdown-menu {
        z-index: 99;
    }
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    border-bottom: 2px solid $brand-primary;
}

.navbar-btn {
    margin-top: 27px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.conteudo-form-busca{
    display: inline-flex;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #fff;
    background-color: $brand-primary;
}

// ==========================================================================
// Wrapper
// ==========================================================================
#wrapper {
    .entry-title {
    	margin-top: 0px;
    }

    .entry-title, .archive-title {
    	background-color: #f8f8f8;
    	border: 1px solid #e7e7e7;
    	padding: 5px 10px;
    	border-left: 4px solid $brand-primary;
    }
    .archive-title {
    	margin-bottom: 20px;
    }

    .entry-content {
    	margin-top: 20px;
    }

    .comments-warp {
    	padding: 0px 15px;
    }
}

// ==========================================================================
// Content
// ==========================================================================
#content {
    .entry-header {
    }
    .post {
        margin: 20px 0;
        border: 1px solid $gray-lighter;
    }
}
#main-content {
    .post {
        margin: 20px 0;
        border: 1px solid $gray-lighter;
    }
}

.post-type {
    margin-top: 20px;
    padding-top: 20px;
    margin: 20px 0;
    border: 1px solid $gray-lighter;
}

.conteudo-post {
    padding: 0px 20px 20px 20px;
}

//
// Home
//
.home {
    #content {
        .post {
            margin-bottom: 40px;
            &.sticky {
                padding: 0 20px 20px;
                border: 1px dashed $brand-info;
            }
        }
    }
    #blog {
        .item-blog {
            margin-bottom: 20px;
        }
        .more {
            display: table;
            float: right;
        }
    }
}

.thumbnail-content {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carousel-home {
    background-color: $gray-darker;
    z-index: 0;
    margin-bottom: 20px;
    .carousel-inner .item {
        width: 100%;
        height: 350px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .carousel-caption {
            p {
                font-size: 20px
            }
        }
    }
}

/**
 * Slider fade transition
 */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

/**
 * Google maps homepage
 */
#map-home {
    position: relative;
    height: 400px;
    #map {
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .address {
        padding: 0 20px;
        z-index: 2;
        position: absolute;
        background-color: #fff;
        width: 400px;
        height: 200px;
        top: 100px;
        right: 5%;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);

        h3 {
            font-weight: bold;
        }
        p {

        }
    }
}


// ==========================================================================
// Serach
// ==========================================================================
#searchform button, #searchform input{
    z-index: 0;
}

input#s {
	height: auto;
	padding: 5px 12px;
}
// ==========================================================================
// Footer
// ==========================================================================

//
// Sticky footer styles
//
#footer {
	padding: 20px;
	margin: 0px;
	border-top: 4px solid $brand-primary;
	background-color: $gray-lighter;
	text-align: left;
	text-align: justify;
	ul, ol, li{
		margin: 0;
		padding:0;
		list-style-type: none;
	}
	a{
		text-decoration: none;
	}
	h1, h2, h3, h4, h5, h6, p{
		text-decoration: none;
	}
}

// ==========================================================================
// Sidebar
// ==========================================================================
#sidebar {
    padding: 20px;
    border-radius: 0px;

    ul {
        margin: 0 0 1em 0;
        padding: 0 0 0 1em; /* make space for li's :before */
        list-style: none;
    }

    li {
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        position: relative;
        padding-left: 0.7em; /* text distance to icon */

    }

    li:before {
        font-family: 'Glyphicons Halflings';
        content: "\e080";
        position: absolute;
        left: -1em; /* same as ul padding-left */
        opacity: 0.8;
            //top: 0.15em; /* depends on character, maybe use padding-top instead */
        }
    }
// ==========================================================================
// Components
// ==========================================================================

//
// Fancy skip link
//
// Make it look a bit less "bare bones"
// Also includes focus suppression for the Chrome tabindex="-1" workaround
//
#skippy {
    display: block;
    padding: 1em;
    background-color: #f5f5f5;
    outline: 0;
}

#skippy .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
}

#content:focus {
    outline: none;
}

//
// Pagination
//
.pagination-wrap {
    text-align: center;
    margin-top: 15px;
    .infinite-scroll & {
        display: none;
    }
}


/* ===== Buttons ===== */
.btn {
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 2px !important;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-lg,
.btn-group-lg > .btn {
  font-size: 14px;
}
.btn-sm,
.btn-xs,
.btn-group-xs > .btn,
.btn-group-sm > .btn {
  text-transform: none;
}
/*** Button Default ***/
.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe9e9e9', GradientType=0);
  border-color: #dcdcdc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-image: none;
  background: white;
  border-color: #dcdcdc;
}
/*** Button danger ***/
.btn-danger {
  background-image: -webkit-linear-gradient(top, #ec7263 0%, #db6152 100%);
  background-image: -o-linear-gradient(top, #ec7263 0%, #db6152 100%);
  background-image: linear-gradient(to bottom, #ec7263 0%, #db6152 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec7263', endColorstr='#ffdb6152', GradientType=0);
  border-color: #db6152;
  color: white;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-image: none;
  background: #db6152;
  border-color: #cf3d2b;
  color: white;
}
/*** Button primary ***/
.btn-primary {
  background-image: -webkit-linear-gradient(top, $brand-primary 0%, lighten( $brand-primary, 8% ) 100%);
  background-image: -o-linear-gradient(top, $brand-primary 0%, lighten( $brand-primary, 8% ) 100%);
  background-image: linear-gradient(to bottom, $brand-primary 0%, lighten( $brand-primary, 8% ) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$brand-primary', endColorstr='lighten( $brand-primary, 8% )', GradientType=0);
  border-color: $brand-primary;
  color: white;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-image: none;
  background: $brand-primary;
  border-color: lighten($brand-primary, 10%);
  color: white;
}
/*** Button Glass ***/
.btn-glass {
  display: inline-block;
  padding: 5px 10px;
  color: #505050;
}
.btn-glass:hover,
.btn-glass:focus,
.btn-glass:active {
  color: #505050;
  text-decoration: none;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.btn-glass .fa {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  background: #505050;
  color: white;
}

//==============================================================================
// Timeline
//==============================================================================

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: $brand-primary !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
