/* ==========================================================================
// Style used to style the TinyMCE editor
// ========================================================================== */
@import
	"bootstrap/bootstrap", // Bootstrap   Styles Core
	"wordpress/wordpress" // WordPress   Styles Core
;